---
// Component Imports
import Button from '../components/Button.astro';

import Main from '../layouts/main.astro'


import Hero from '../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import Nosotras from '../components/Nosotras.astro';
import Contacto from '../components/Contacto.astro';
import Ubicacion from '../components/Ubicacion.astro';
import FAQs from '../components/FAQs.astro';
import Footer from '../components/Footer.astro';

---

<Main content='Explouñas | la vida no es perfecta, pero tus uñas pueden serlo 💅🏼'>

	<Hero />
	<Servicios />
	<Ubicacion />
	<Nosotras />
	<Contacto />
	<FAQs />
	<Footer />
</Main>