<!-- <div class='px-6 pt-6 lg:px-8'>
	<nav class='flex items-center justify-between' aria-label='Global'>
		<div class='flex lg:flex-1'>
			<a href='#' class='-m-1.5 p-1.5'>
				<span class='sr-only'>Your Company</span>
				<img
					class='h-8'
					src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600'
					alt=''
				/>
			</a>
		</div>
		<div id='btnAbrir' class='flex lg:hidden'>
			<button
				type='button'
				class='-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700'
			>
				<span class='sr-only'>Open main menu</span>
				<!-- Heroicon name: outline/bars-3 
				<svg
					class='h-6 w-6'
					xmlns='http://www.w3.org/2000/svg'
					fill='none'
					viewBox='0 0 24 24'
					stroke-width='1.5'
					stroke='currentColor'
					aria-hidden='true'
				>
					<path
						stroke-linecap='round'
						stroke-linejoin='round'
						d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
				</svg>
			</button>
		</div>
		<div class='hidden lg:flex lg:gap-x-12'>
			<a href='/' class='text-sm font-semibold leading-6 text-gray-900'
				>Inicio</a
			>
			<a href='#servicios' class='text-sm font-semibold leading-6 text-gray-900'
				>Servicios</a
			>

			<a href='#productos' class='text-sm font-semibold leading-6 text-gray-900'
				>Productos</a
			>

			<a href='#nosotras' class='text-sm font-semibold leading-6 text-gray-900'
				>Nosotras</a
			>
			<a href='/terminos' class='text-sm font-semibold leading-6 text-gray-900'
				>Términos y condiciones</a
			>

			<a href='#info' class='text-sm font-semibold leading-6 text-gray-900'
				>Más información</a
			>
		</div>
	</nav>
	<!-- Mobile menu, show/hide based on menu open state. 
	<div role='dialog' aria-modal='true'>
		<div
			focus='true'
			class='fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden'
		>
			<div class='flex items-center justify-between'>
				<a href='#' class='-m-1.5 p-1.5'>
					<span class='sr-only'>Your Company</span>
					<img
						class='h-8'
						src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600'
						alt=''
					/>
				</a>
				<button id='btnCerrar' class='-m-2.5 rounded-md p-2.5 text-gray-700'>
					<span class='sr-only'>Close menu</span>
					<!-- Heroicon name: outline/x-mark 
					<svg
						class='h-6 w-6'
						xmlns='http://www.w3.org/2000/svg'
						fill='none'
						viewBox='0 0 24 24'
						stroke-width='1.5'
						stroke='currentColor'
						aria-hidden='true'
					>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M6 18L18 6M6 6l12 12'></path>
					</svg>
				</button>
			</div>
			<div class='mt-6 flow-root'>
				<div class='-my-6 divide-y divide-gray-500/10'>
					<div class='space-y-2 py-6'>
						<a
							href='#'
							class='-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10'
							>Product</a
						>

						<a
							href='#'
							class='-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10'
							>Features</a
						>

						<a
							href='#'
							class='-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10'
							>Marketplace</a
						>

						<a
							href='#'
							class='-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10'
							>Company</a
						>
					</div>
					<div class='py-6'>
						<a
							href='#'
							class='-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10'
							>Log in</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script is:inline>
    const $ = obj => document.querySelector(obj)

    let modalState = false
    
    const modal = () => modalState = !modalState

    const navbar = $('')

    $('#btnCerrar').addEventListener("click", modal)
    $('#btnAbrir').addEventListener("click", modal)


</script>
 -->
<header id='header' class='sticky t-0 z-10 transition duration-150'>
	<nav class='flex items-center justify-between flex-wrap px-6 py-2'>
		<div class='flex items-center flex-shrink-0 mr-6'>
			<a href='/' class='flex items-center'>
				<h2 class='font-medium tracking-tight text-xl'>
					Explouñas
				</h2>
			</a>
		</div>
		<div id='boton' class='block lg:hidden'>
			<button
				class='boton flex items-center px-3 py-2 hover:text-white hover:border-white'
			>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					viewBox='0 0 448 512'
					class='h-4 w-4'
				>
					<path
						d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'
					></path>
				</svg>
			</button>
		</div>
		<div
			id='menu'
			class='w-full hidden lg:pb-0 lg:flex lg:items-center lg:w-auto'
		>
			<ul
				class='text-md font-semibold lg:flex lg:items-center lg:flex-grow text-right'
			>
				<li class='block mt-5 lg:inline-block lg:mt-0'>
					<a
						href='/'
						class='p-3 transition duration-200 hover:bg-[#161616] rounded mr-4'
						>Inicio</a
					>
				</li>
				<li class='block mt-5 lg:inline-block lg:mt-0'>
					<a
						id='sobrenosotros'
						class='cursor-pointer p-3 transition duration-200 hover:bg-[#161616] rounded mr-4'
						>Servicios</a
					>
				</li>
				<li class='block mt-5 lg:inline-block lg:mt-0'>
					<a
						href='/convenios'
						class='p-3 transition duration-200 hover:bg-[#161616] rounded mr-4'
						>Productos</a
					>
				</li>
				<li class='block mt-5 lg:inline-block lg:mt-0'>
					<a
						href='/convenios'
						class='p-3 transition duration-200 hover:bg-[#161616] rounded mr-4'
						>Nosotras</a
					>
				</li>
				<li class='block mt-5 lg:inline-block lg:mt-0'>
					<a
						href='/convenios'
						class='p-3 transition duration-200 hover:bg-[#161616] rounded mr-4'
						>Términos y condiciones</a
					>
				</li>
				<li class='block mt-5 lg:inline-block lg:mt-0'>
					<a
						href='/convenios'
						class='p-3 transition duration-200 hover:bg-[#161616] rounded mr-4'
						>Más información</a
					>
				</li>
				<li class='flex justify-end'>
					<a
						id='contacto'
						class='cursor-pointer inline-block text-md px-4 py-3 transition mr-4 duration-200 leading-none border rounded mt-4 lg:mt-0 font-semibold hover:bg-[#161616]'
						>Agenda tu cita</a
					>
				</li>

			</ul>
		</div>
	</nav>
</header>

<script is:inline>
	const fadeOut = () => {
		const loaderWrapper = document.querySelector('.load_wrapper')
		loaderWrapper.classList.add('fade')
	}

	window.addEventListener('load', fadeOut)
	window.onscroll = () => {
		if (window.scrollY > 80) {
			header.style.backgroundColor = '#0e0e0e'
		}
		if (window.scrollY < 80) {
			header.style.backgroundColor = 'transparent'
		}
	}

	document.getElementById('boton').addEventListener('click', () => {
		document.querySelector('#menu').classList.toggle('hidden')
	})
	document.getElementById('sobrenosotros').addEventListener('click', () => {
		window.scroll(0, 820)
		document.querySelector('#menu').classList.toggle('hidden')
	})
	document.getElementById('contacto').addEventListener('click', () => {
		window.scroll(0, 1500)
		document.querySelector('#menu').classList.toggle('hidden')
	})
</script>
