<script is:inline>

    window.addEventListener('scroll', ()=>{
        
    })
</script>

<section class="w-full flex align-center justify-center overflow-hidden flex-nowrap my-4 ">
  <div id="images" class="snap-x w-full flex flex-row flex-nowrap gap-4 overflow-auto py-4">
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
    <img src="/unas1.jpg" class="md:w-1/4 w-4/6 snap-end aspect-square" alt="" />
  </div>
</section>
